<page-layout>
    <form-page-layout>
        <form
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate
        >
        <div class="form__fieldname">Email</div>
        <input 
            class="form__field form__field--input" 
            name="email" 
            type="text"
            [(ngModel)]="form.email"
            required
            #email="ngModel"    
        />
        <button class="form__field form__field--submit" type="submit">Submit</button>
        <div style="width:100%;text-align:center;">
            <a class="form__forgot" routerLink="/login" routerLinkActive="active">Back to Login</a>
        </div>
        </form>
    </form-page-layout>
</page-layout>