<page-layout>
    <form-page-layout>
        <form [formGroup]="form" (ngSubmit)="submit()"> 
            <div class="form-group">
                <label class="form__fieldname" for="email">Email</label>
                <input
                    formControlName="email"
                    id="email"
                    type="text"
                    class="form__field form__field--input form-control">
                <div *ngIf="f.email.touched &amp;&amp; f.email.invalid">
                    <div class="form__field--error" *ngIf="f.email.errors.required">Email is required.</div>
                    <div class="form__field--error" *ngIf="f.email.errors.email">Please, enter valid email address.</div>
                </div>
            </div>
            <button class="form__field form__field--submit" type="submit" [disabled]="!form.valid">Login</button>
            <div style="width:100%;text-align:center;margin-top: 10px;">
                <a class="form__forgot" routerLink="/login" routerLinkActive="active">Back to Login</a>
            </div>
        </form>
    </form-page-layout>
</page-layout>